[submodule "modules/_others/kitty"]
	path = modules/_others/kitty
	url = ssh://git@codeberg.org/joaov-007/kitty.git
	branch = master
[submodule "modules/_others/nvim"]
	path = modules/_others/nvim
	url = ssh://git@codeberg.org/joaov-007/nvim.git
	branch = develop
